body, html {

}

.container {
  width: 90%;
  margin: auto;
  padding: 2em;
}

.box {
  width: 12em;
  height: 12em;
  display: block;
  float: left;
  background: deepskyblue;
  margin: .5em;
}

.moveRight {
  transition: transform 400ms cubic-bezier(.25,-0.9,.9,1.5);
}

.moveRight:active {
  transform: translate(13em,0);
  background: red;
}

.rotate {
  transition: transform 400ms ease-in-out;
}

.rotate:active {
  transform: rotate(180deg);
  background: orange;
}

.scale {
  transition: transform 200ms ease-out;
}

.scale:active {
  transform: scale(1.3, 1.3);
  background: yellow;
}

.opacity {
  background: indigo;
  opacity: 0;
  transition: opacity 600ms ease-in;
}

.opacity:active {
  opacity: 1;
}

.rotateZ {
  transition: -webkit-transform 300ms ease-in;
}

.rotateZ:active {
  -webkit-transform: rotateY(180deg);
  background: blue;
}

.hider {
  background: green;
  overflow: hidden;
}

.mover {
  margin: 0;
  background: deepskyblue;
  transition: transform 300ms ease-out;
}

.mover:active {
  transform: translateX(12em);
}
